<HTML>
<HEAD>
<TITLE>Trifonov Sergey!frgfdgdg Home Page!</TITLE>
</HEAD>

<BODY>
Хозяин такой сякой = {{ owner }}<br>
Server name = {{ ansible_hostname }}<br>
Server os family name = {{ ansible_os_family }}<br>
LOcal ip address of this server = {{ ansible_default_ipv4.address }}
</BODY>

</HTML>
